body{
	font-family: Comic Sans MS;
	margin:0;
	padding:20px;
	background-color: #f1f1f1;
}
*{
	box-sizing: border-box;
}
.row:after{
	content: '';
	display: table;
	clear: both;
}
header{
	background-color: #ffffff;
	padding:30px;
}
header h1{
	background-color: aqua;
	text-align: center;
	font-size:60px;
	color:#000000;
	margin:1.5 0px;
}
h1{
	color: rgb(231, 229, 219);
}
h2{
	background-color: rgb(241, 208, 167);
	text-align: center;
	color:#e41765;
	margin:1.5 0px;	
}

h3{
	color:#84a802;
	margin:1.5 0px;	
}

.left-column{
float: left;
width: 75%;	
}

.right-column{
 width: 25%;
 float: right;
 padding-left:20px;
}
.card{
	padding: 20px;
	background-color: #ffffff;
 	margin-top:20px;
}

.card img{
	width: 100%;
}


.right-column .card img{
	margin-bottom: 10px;
}


footer{
	background-color: #f0b0b0;
	padding: 20px;
	text-align: center;
	margin-top: 20px;
}

p{
	background-color: rgb(173, 233, 191);
}

/*responsive */

@media(max-width:800px){
	.left-column,.right-column{
    width: 100%;
    padding: 0px;
	}
}

